@import 'bootstrap/dist/css/bootstrap';

.navbar {
	margin-bottom: 30px	;
}

.search-area {
	padding-top: 50px;
}

.no-right-padding{
	padding-right: 0px !important;
}

.no-left-padding{
	padding-left: 0px !important;
}

.result-block {
	display: inline-block;
	margin-bottom: 1rem;
}

.user-name {
	margin-top: 3.5%;
	padding-right: 15px;
}